.section {
    margin: 10px 0;
    background: #ffffff;
    box-shadow: 0 0 5px #bababa;
}

.section__headerContainer {
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.section__headerContainer--grid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .section__headerContainer--grid {
        grid-template-columns: 1fr;
    }
}

.section__header {
    font-size: 20px;
    margin: 0;
}

.section__body {
    padding: 20px;
}