.buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .buttons {
        grid-template-columns: 1fr;
    }
}

.buttons__button {
    justify-self: center;
    border: none;
    font-size: 18px;
    background-color: #ffffff;
    color: #008080;
    transition: color 0.3s;
}

.buttons__button:hover {
    cursor: pointer;
    color: #00cccc;
}

.buttons__button:disabled {
    color: #bebebe;
}